<div class="card mt-4">
    <div class="card-header">
      <div class="">
        Apply Leave
      </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 w-50">
              <p>You can apply for leaves here and also view your planned leaves.</p>
              <p>To apply for leave, enter start date, end date and choose from the list of reasons listed and hit Apply.</p>
              <p>Your Leave should appear in the Planned Leaves Section.</p>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="launchModal()">
                  Apply for Leave
              </button>
            </div>
          </div>
          
    </div>
    </div>

