<div class="d-flex justify-content-center align-items-center w-100 view_height" *ngIf='!updated'>
    <div class="spinner-border text-secondary" id="spinner" role="status"></div>
  
</div>
<div  [ngClass]="{'d-none':!updated}">
<h1 class="h1">Dashboard</h1>
<hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-center mt-3 mb-4">
          <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/app/timeentries']">Log Time Entries</button>
       </div>
       <div class="row"><h3 class="col-sm-8">
        Upcoming Leaves
       </h3>
       <a [routerLink]="['/app/leaves']" class="col-sm-4 text-sm-right mt-2">Manage</a>
      </div>
       <hr>
       <div class="text-center" *ngIf="leavesListLength == 0">
        You don't have any Leaves Planned yet!
      </div>
       <ol class="mx-3" *ngIf="leavesListLength > 0">
          <li class="mt-2" *ngFor="let leave of leavesList">
            <strong>Start date:</strong><span class="float-right">{{leave.startDate | slice:0:10 | date }}</span> <br>
            <strong>End Date:</strong><span class="float-right">{{leave.endDate | slice:0:10 | date }}</span>
          </li>
       </ol>
      </div>
      <div class="col-md-6 mt-2">
        <h3 class="m-2">2019 Holiday List</h3>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Holiday</th>
                <th scope="col">Date</th>
                <th scope="col">Day</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holiday of holidayList">
                <td>{{holiday.name}}</td>
                <td>{{holiday.date}}</td>
                <td>{{holiday.day}}</td>
              </tr>
             </tbody>
        </table>  
      </div>
    </div>

  </div>
</div>
