 .toggled-open{
    display: block !important ;
  }

  .toggled-close{
    display: none  ;
  }

  @media (max-width:992px) {
    #sidebar-wrapper {
      display: none;
    }
}
  
  @media (min-width:992px) {
    #sidebar-wrapper {
      display: block;
     }
}