 <div class="content-wrapper">
        <app-navigation-top></app-navigation-top>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 left-column">
                    <app-navigation-left></app-navigation-left>
                </div>
                <div class="col-md-10 right-column">
                    <div class="btn"></div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
     
</div>







