<h3 class="m-3">
 Previous Time Entries
</h3>
<!-- //row table-wrapper -->

      <table class="table table-responsive-sm">
        <!-- //heading -->
        <thead class ="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time In</th>
            <th scope="col">Time Out</th>    
            <th scope="col">On Leave</th>       
          </tr>
  
        </thead>
  
        <tbody *ngIf='!updated; else loaderEnded'>
          <tr><td colspan="4">
              <div class="justify-content-center d-flex">
                  <div class="spinner-border text-primary" role="status"></div>
              </div>
          </td></tr>
        </tbody>
        <ng-template #loaderEnded>
        <tbody>
          <tr *ngIf="!timeEntryResponseLength; else elseBlock"> No data to display.</tr>
          <ng-template #elseBlock>
            <tr *ngFor="let timeEntry of previousEntries">
            <td>{{timeEntry.date}}</td>
            <td>{{timeEntry.timeIn}}</td>
            <td>{{timeEntry.timeOut}}</td>
            <td *ngIf = 'timeEntry.onLeave; else notOnLeaveBlock'>Yes</td>
            <ng-template #notOnLeaveBlock><td>No</td></ng-template>
          </tr>
          </ng-template>
        </tbody>
        </ng-template>
      </table>
    
   


