$border : 1px solid #616154f2;

.time-entry-heading {
    display: flex;
    justify-content: space-around;
    background: slategray;

    color: ghostwhite;
}
.card{
    top:35px
}
.time-entry-form {

   
}


