<div class="d-flex justify-content-center align-items-center w-100 view_height" *ngIf='!timeEntryForm || !timeEntryTable'>
    <div class="spinner-border text-secondary" id="spinner" role="status"></div>
  
</div>


<div  [ngClass]="{'d-none': !timeEntryForm || !timeEntryTable}">

<h1 class="h1">Time Entry</h1>
<hr>
<div class="row">
    
  <div class="col-md-6 my-3 container" *ngIf="todaysEntryCheck">
    <div class="card mx-2">
      <div class="h3 card-header">Today's Entry</div>
    <div class="card-body">
        
      <div class="">
      <strong class="float-left ">Time In</strong><span class="float-right">{{todaysEntry.timeIn}}</span><br>
      <strong class="float-left ">Time Out</strong><span class="float-right">{{todaysEntry.timeOut}}</span><br>
      <strong class="float-left ">On Leave</strong><span  *ngIf = 'todaysEntry.onLeave; else notOnLeaveBlock' class="float-right">Yes</span>
      <ng-template #notOnLeaveBlock><span class="float-right">No</span></ng-template>
    
    </div></div>
     
          
  </div>
</div>

  <div class="col-md-6 mt-3" [ngClass]="{'col-md-12': !todaysEntryCheck}">
      <app-timeentries-form></app-timeentries-form>
    </div>

</div>
<div class="row mt-3">
  <div class="col-md-12">
    <app-timeentries-table [todaysEntryObject]='todaysEntryObject'></app-timeentries-table>
  </div>
            
</div>
<app-timeentries-modal (todaysEntryObject)="receiveTodaysEntry($event)"></app-timeentries-modal>
        
</div>


