$border : 1px solid #616154f2;

.view_height{
        height: 70vh;}

#spinner{
        width: 3rem; height: 3rem;
}



// .time-entry-heading {
//     display: flex;
//     justify-content: space-around;
//     background: slategray;
//     color: ghostwhite;
// }
// .time-entry-form {

   
// }


