 
#toggle_bar{
    font-size: 18px;
  }
#profile_icon{
  font-size: 17px;
  padding-right: 2px;
}
.dropdown-menu{
  min-width: 8rem;
}
@media (max-width:330px) {
   #brand_name{
     font-size: small;
   }
}
