<div class="header">
  <nav class="navbar sticky-top bg-primary navbar-dark border-bottom">
     <div class="container-fluid px-0 py-0">
        <a class="nav-brand text-light text-decoration-none" id="brand_name" [routerLink]="['/app/dashboard']">
           
           <img src="../../assets/compro.png" class="img-fluid">
          
        </a>
        <div class="ml-auto">
           <fa-icon [icon]="faBars" id="toggle_bar" class="text-light d-lg-none my-0 mr-3 p-0" (click)="toggleSidebar()" 
           *ngIf="!disableToggle"></fa-icon>
        </div>
        <div class="dropdown">
           <div class="dropdown-toggle text-light btn p-0 m-0" data-toggle="dropdown">
              <fa-icon [icon]="faUser" class="mr-1 float-left text-light" id="profile_icon"></fa-icon>
              <span class="d-sm-inline d-none">{{firstname}}</span>
           </div>
           <div class="dropdown-menu dropdown-menu-right m-0 mt-2 text-center bg-light">
              <a class="dropdown-item" [routerLink]="['/app/profile']">Profile</a>
              <a [routerLink]="" (click)="onLogout()" class="dropdown-item">Log out</a>
           </div>
        </div>
     </div>
  </nav>
</div>