@import '../../../scss/variables';

.header {
    border-bottom: 1px solid #c8ced3;
}
.tbtn{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all 0.6s ease 0s;
}

@media (max-width:767px) {
 
   .tms-logo{
       margin-left: 15px
   }
  
  }