@import '../../../scss/variables';
 
#toggle_bar{
    font-size: 18px;
  }
#profile_icon{
  font-size: 18px;
}

@media (max-width:330px) {
   #brand_name{
     font-size: small;
   }
}
.dropdown-menu{
  min-width: 8rem;
}