@import '../../scss/variables';

.bg-image{
 // #00c6ff, #0072ff
  background-image:
  linear-gradient(to bottom, rgba(25, 133, 172,1), rgba(24, 40, 72,0.5)),
  url('../../assets/tms-background.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
 }

.login-div{
  min-height: 100vh;
}
.login-button {
  background-color: $button-color;
  border-color: $button-color;
}
.register-button {
  background-color: #1985ac;
  border-color: #187da0;
}
.register-card {
  background-color: $button-color!important ;
}

.error, .invalid-credentials {
  color: $error-validation-text;
}
